@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.otf") format("otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.otf") format("otf");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.text1 {
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}


/* Container */

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 25px;
}


/* Header */

.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 8px 0;
}


/* Nav-toggle */

.nav-toggle {
    width: 24px;
    padding: 10px 0;
    font-size: 0;
    color: transparent;
    border: 0;
    position: relative;
    background: none;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    width: 100%;
    height: 3px;
    background-color: #356ead;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #356ead;
    left: 0;
    z-index: 1;
}

.nav-toggle__item::before {
    top: -7px;
}

.nav-toggle__item::after {
    bottom: -7px;
}


/* Intro */

.intro {
    height: 690px;
    position: relative;
    background: linear-gradient(0deg, #98c3e8 -30%, rgba(152, 195, 232, 0) 31.12%);
}

.intro__item {
    width: auto;
    position: absolute;
    left: auto;
    top: 39%;
    z-index: 1;
    transform: translateY(-50%);
}

.intro__img {
    position: absolute;
    top: 0;
    right: 40px;
    z-index: -1;
}

.intro__img img {
    width: 100%;
    height: auto;
}

.intro__title {
    font-family: Galien;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    margin-bottom: 25px;
}


/* Button */

.btn {
    font-family: "Gilroy", sans-serif;
    margin-top: 50px;
    padding: 12px 35px;
    color: #fff;
    background: #5a98d0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.2s linear;
}

.btn:hover {
    background: #4a81b1;
}


/* Card */

.card {
    margin-top: 150px;
    margin-bottom: 90px;
}

.card__inner {
    display: flex;
    justify-content: space-between;
}

.card__item {
    width: 50%;
    margin: 0 40px;
}

.card__maintitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
    margin-bottom: 50%;
}

.card_block {
    padding: 35px 40px;
    margin-bottom: 60px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card__img {
    text-align: center;
    margin-top: 15px;
}

.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card__text {
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
    margin-bottom: 20px;
}

.card__btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5a98d0;
    padding: 0 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.2s linear, background 0.2s linear;
}

.card__btn:hover {
    background-color: #5a98d0;
    color: #fff;
}

.card__btn .arrow {
    transition: fill 0.2s linear;
}

.card__btn:hover .arrow {
    fill: #fff;
}

.card__btn svg {
    margin-left: 15px;
}


/* Clients */

.clients {
    background: #5a98d0;
    border-radius: 200px 0px 0px 0px;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 65px;
}

.clients__title {
    width: 35%;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.clients__text {
    width: 65%;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.6;
}

.clients__block {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #98c3e8;
}

.clients__logo {
    width: 217px;
    text-align: center;
    position: relative;
    transition: background 0.2s linear;
    border-right: 1px solid #98c3e8;
}

.clients__logo:hover {
    background: rgba(31, 63, 104, 0.2);
}

.clients__logo:hover div {
    opacity: 0;
}

.clients__logo:hover .more {
    opacity: 1;
}

.more {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.clients__logo:nth-child(4n) {
    border-right: 0;
}

.clients__block:nth-child(2n) {
    border-bottom: 0;
}

.clients__logo div {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 30px;
    transition: opacity 0.1s linear;
}


/* Question */

footer {
    background: #316099;
    border-radius: 0px 200px 0px 0px;
}

.question__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.question__item {
    width: 50%;
}

.question__item .btn--question {
    display: flex;
    margin: 0 auto;
    padding: 15px 60px;
}

.question__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 25px;
}

.question__text {
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.6;
}

hr {
    width: 80%;
    margin: 0;
    border: 0;
    background-color: #fff;
    height: 1px;
    opacity: 0.4;
}


/* Footer */

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 30px;
}

.footer__item {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.footer__logo {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer__title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer__text:hover {
    border-bottom: 1px solid #fff;
}

.copyright {
    padding-bottom: 30px;
}

.copyright span {
    color: #ffffff;
    opacity: 0.4;
}


/* Contacts */

.contacts__intro {
    background: url("../img/contacts/contacts-bg.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 80px 0;
    margin-top: 30px;
}

.contacts__maintitle {
    font-size: 44px;
    line-height: 74px;
    letter-spacing: 0.04em;
}

.contacts__maintext {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts {
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.contacts__inner:first-child {
    width: 40%;
    margin-right: 30px;
}

.contacts__inner:last-child {
    width: 60%;
    margin-left: 30px;
}

.contacts__title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.contacts__content {
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.6;
}

.contacts__text {
    margin-bottom: 10px;
}

.contacts__text svg {
    margin-right: 5px;
}

svg {
    fill: inherit;
}


/* Form */

form {
    padding: 40px;
    background: #ffffff;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.form__title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
}

.form__wrapper {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.8;
}

.form__input {
    width: 100%;
    padding: 0 20px;
    height: 52px;
    margin-bottom: 15px;
    border: 1px solid #356ead;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    outline: 0;
}

.form__input::placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2;
}

.form__submit {
    display: block;
    width: 100%;
    height: 72px;
    margin: 40px auto;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    border: 0;
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s linear;
}

.form__submit:hover {
    background: #4a81b1;
}

textarea {
    resize: none;
    border: 1px solid #356ead;
    border-radius: 10px;
    padding: 20px;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    outline: 0;
}

textarea::placeholder {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2;
}